<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppyco</title>
</head>
<body>
    <h1>Tienda Online</h1>
    <nav>
        <ol>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'marcas' %}"> Marcas</a></li>
            <li>Categoria</li>
            <li>Productos</li>
        </ol>
    </nav>
    {% block contenido %}


    {% endblock contenido %}
</body>
</html>